#Hopefully these wild-cards catch everything
.jxbrowser-data/*
.metadata/.plugins/*
.metadata/version.ini
.metadata/.lock
#update: wildcards don't catch deeped directories
.metadata
.jxbrowser-data
driverlib/
